<div id="flight-container" style="margin: 20px;">
  <strong>
    <%= flight.from_airport.code %> > <%= flight.to_airport.code %>
  </strong>
  <br>
  At: <%= flight.start_date %>
  <br>
  Duration: <%= flight.duration %> minutes
</div>
